In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

df = pd.DataFrame([['Melwin',21,'M',92,'S'],
                   ['Adib',22,'M',86,'A'],
                   ['Sonal',20,'F',np.nan,np.nan],
                   ['Melissa',24,'F',68,'C'],
                   ['Nadheem',np.nan,'M',78,'B'],
                   ['Biju',22,'M',84,'A'],
                   ['Shiji',21,'F',52,'D'],
                   ['Nevin',23,'M',73,'B'],
                   ['Divya',20,'F',64,'C'],
                   ['Ashlin',19,'M',87,'A']])
df.columns=['Name','Age','Gender','Mark','Grade']
df.index =['S1','S2','S3','S4','S5','S6','S7','S8','S9','S10']

df

        Name   Age Gender  Mark Grade
S1    Melwin  21.0      M  92.0     S
S2      Adib  22.0      M  86.0     A
S3     Sonal  20.0      F   NaN   NaN
S4   Melissa  24.0      F  68.0     C
S5   Nadheem   NaN      M  78.0     B
S6      Biju  22.0      M  84.0     A
S7     Shiji  21.0      F  52.0     D
S8     Nevin  23.0      M  73.0     B
S9     Divya  20.0      F  64.0     C
S10   Ashlin  19.0      M  87.0     A

In [ ]:
# Task- 2 Check the info of 'df'

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, S1 to S10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     9 non-null      float64
 2   Gender  10 non-null     object
 3   Mark    9 non-null      float64
 4   Grade   9 non-null      object
dtypes: float64(2), object(3)
memory usage: 780.0+ bytes

In [ ]:
Task 3- Check the descriptive statistics of 'df'

df.describe()

             Age       Mark
count   9.000000   9.000000
mean   21.333333  76.000000
std     1.581139  12.932517
min    19.000000  52.000000
25%    20.000000  68.000000
50%    21.000000  78.000000
75%    22.000000  86.000000
max    24.000000  92.000000

In [ ]:
# Task 4- check the 4th index observation with 'loc' slicing operator.

# 4th indexed observation means the 5th value.

df.loc['S5':'S5','Name':'Grade']

       Name  Age Gender  Mark Grade
S5  Nadheem  NaN      M  78.0     B

In [ ]:
# Task 5 - Check the null values in your 'df'

df.isnull().any()

Name      False
Age        True
Gender    False
Mark       True
Grade      True
dtype: bool

In [ ]:
df.isnull().sum()

Name      0
Age       1
Gender    0
Mark      1
Grade     1
dtype: int64